// .container{
//    width:100%;
//    margin:0 auto;
//    // padding:0 15px;
// }
// .Header-section{
//    background-color: blanchedalmond;
// }
// .heading{
//    display: flex;
//    justify-content: space-around;
// }
// .navbar span{
//    padding: 0px 12px;
// }
// a{
//    text-decoration: none;
// }
// .header-logo{
//    font-size:20px;
//    margin-top: 12px;
// }
// .navbar{
//    display: flex;
//    justify-content: center;
//    align-items: center;
// }
// .navbar a{
//    color:white;
//    font-family: sans-serif;
//    font-size:14px;
//    padding: 2px 12px;
// }
// .add-cart{
//    padding-top: 12px;
// }
.image-section{
   padding: 40px ;
}
.img-dis img{
   width: 100%;
   height: auto;
}
.img-dis{
   border: 1px solid grey;
   box-shadow: 1px 1px 1px 1px grey ;
}
.img-con h4{
   font-family:sans-serif ;
   font-size: 20px;
   color: cadetblue;
   padding:2px 2px;
}
.img-con h5{
   font-family:sans-serif;
   font-size: medium;
   color: brown;
   padding:2px 2px;
}
.img-con p{
   font-family: sans-serif;
   font-size: medium;
   color: black;
   padding: 2px 2px;
}